.inputs_where {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.registerAdvert_where {
    width: 45% !important;
}
.registerAdvert_date {
    width: 30% !important;
}
.registerAdvert_time {
    width: 19% !important;
}

.react-date-picker__inputGroup__input,
.react-time-picker__inputGroup__input{
    height: inherit;
}

.react-time-picker__wrapper,
.react-date-picker__wrapper {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #C0C4CC;
}
.form_add_advert--inputs {
    position: relative;
}
.react-time-picker__inputGroup input,
.react-date-picker__inputGroup input {
    border: none !important;
}
.form_add_advert--inputs .form_text {
    position: absolute;
    bottom: -20px;
    right: 0;
}
