@media( max-width: 450px){
    .admin_menu {
        width: 35%;
        position: relative;
    }
    .link_logout {
        position: absolute;
        bottom: -35px;
        right: 13px;
        width: 50% !important;
    }
}
