
.custom_select {
    margin-bottom: 15px;
    font-size: 16px;
    background: #fff;
    border: none;
    padding: 8px 8px 4px;
    position: relative;
    border-radius: 10px;
}
.custom_select::before {
    content: "";
    width: 42px;
    height: 35px;
    font-size: 23px;
    display: inline-block;
    background: url("../../../../assets/icon_map_.svg") 9px 6px no-repeat;
    border-right: 1px solid #AFAFAF;
}
.custom_select-4::before {
    background: url("../../../../assets/user_icon.svg") 6px 6px no-repeat;
}
.user_image {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    z-index: 1;
}
.selects {
    width: 83%;
    height: 35px;
    position: absolute;
    border: none;
    background: inherit;
    padding-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.icon-arrow {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #AFAFAF transparent transparent transparent;
}
.form_register .buttons  {
    width: 212px;
    margin-bottom: 30px;
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
input[type=file]:hover,
input[type=file]:focus + label {
    outline: 0 !important;
}
.input_image {
    width: 102px;
    margin: 0 auto;
}
.heading_register_auto {
    margin: 20px 10px;
    color: #0078FF;
}

.add_input_image {
    display: block;
    text-align: center;
    font-size: 12px;
}
.image {
    position: relative;
}
.plus {
    width: 25px;
    height: 25px;
    background: #0078FF;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    line-height: 0.7;
    bottom: 0;
    right: 0;
}
.plus .MuiSvgIcon-root {
    font-size: 18px;
    position: absolute;
    bottom: 3.5px;
    left: 3.5px;
}
.form_text {
    text-align: center;
}
