.advert {
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    display: flex;
}
.advert_body {
    width: 70%;
    position: relative;
}
.advert_body .return {
    display: inline-block;
    position: absolute;
}
.advert_body .return-search {
    display: inline-block;
    position: absolute;
    left: 110px;
}
.img_div_about {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advert h3 {
    margin: 40px 20px 20px;
    font-weight: 500;
    font-size: 22px;
}
.buttons_price {
    width: 30%;
}
.buttons_price .button {
    width: 87%;
    margin: 5px 20px;
    border-radius: 10px;
}
.buttons_price .button span {
    font-weight: 500 !important;
    font-size: 16px !important;
    text-transform: capitalize;
}
.buttons_price .btn-1 {
    margin-top: 0;
    background: #0078FF !important;
}
.buttons_price .btn-2 {
    border-color: #0078FF !important;
    color: #0078FF;
}
.buttons_price .btn-3 {
    border-color: #FF5559 !important;
    color: #FF5559;
}

.info {
    display: flex;
    justify-content: space-between;
}
.info-1,
.info-2,
.times{
    margin-top: 20px;
    width: 50%;
}
.info p,
.description p,
.times p {
    color: #778091;
    font-size: 16px;
    margin-bottom: 7px;
}
.info span,
.times span{
    margin-left: 8px;
    color: #000000;
    display: inline-block;
}

.description {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.description p {
    width: 15%;
}
.description span {
    width: 95%;
}
.info,
.description {
    border-bottom: 1px solid #DCDFE6;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 26px;
}
.times {
    margin-left: 20px;
    margin-bottom: 30px;
}
.link_phone {
    color: #fff;
    text-align: center;
    display: block;
    padding: 5px 0 ;
    font-size: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.link_phone:hover {
    color: #fff;
    text-decoration: none;
}
