@media( max-width: 900px){
    .description span {
        width: 80%;
    }
}
@media( max-width: 700px){
    .advert_body {
        width: 65%;
    }
    .buttons_price {
        width: 35%;
    }
}
@media( max-width: 600px){
    .description span {
        width: 65%;
    }
    .advert {
        flex-wrap: wrap;
    }
    .advert_body {
        width: 95%;
    }
    .buttons_price {
        width: 95%;
        margin: 0 auto;
    }
}
