.form_auth {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.form_auth p {
    width: 102px;
    height: 102px;
    margin: 0 auto 15px;
}
.custom_input-2::before {
    background: url("../../../../assets/phone.svg") 7px 6px no-repeat ;
}
.custom_input-3::before {
    background: url("../../../../assets/user_icon.svg") 7px 6px no-repeat ;
}
.custom_input-5::before {
    background: url("../../../../assets/lock.svg") 7px 6px no-repeat ;
    position: relative;
}
.buttons {
    width: 140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.buttons button {
    border: none;
    background: #0078FF;
    border-radius: 10px;
    color: #fff;
    padding: 8px 30px;
    margin: 15px 0 8px;
}
.buttons .forgot_pass {
    font-size: 13px;
    color: #778091;
    margin-bottom: 40px;
}
.input-2 {
    display: inline-block !important;
}
.buttonPassword {
    border-top-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
    position: absolute !important;
    right: 0 !important;
    top: 16px !important;
    padding: 0 !important;
    color: #0078FF !important;
}
.buttonPassword .far {
    font-size: 20px;
    color: #AFAFAF;
}
.buttonPassword:focus {
     outline: inherit;
}
.captcha {
    margin: 0 auto;
    width: 80%;
}
