.navigation_modal {
    width: 230px;
    margin: 50px auto 0 ;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
}
.login {
    color: #0078FF;
}
.register {
    color: #778091;
}
.body_modal {
    width: 88%;
    margin: 0 auto;
}
.custom_input {
    margin-bottom: 18px;
    font-size: 16px;
    background: #fff;
    border: none;
    padding: 8px 8px 4px;
    position: relative;
    width: 100%;
    border-radius: 10px;
}
.custom_input::before {
    content: "";
    width: 42px;
    height: 35px;
    font-size: 23px;
    display: inline-block;
    border-right: 1px solid #AFAFAF;
}
.inputs {
    border: none !important;
    background: inherit !important;
    position: absolute !important;
    padding: 6px 10px !important;
    width: 86% !important;
}
.input-5 {
    display: inline-block !important;
}
.custom_input-3 .selects {
    width: 77%;
}
.custom_input-3 .icon-arrow {
    right: 15px;
    top: 23px;
}

.password-strength-meter {
    text-align: left;
    margin: 0 auto;
    width: 260px;
}

.password-strength-meter-progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 8px;
    margin: 0 auto;
}

.password-strength-meter-progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
}

.password-strength-meter-label {
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.password-strength-meter-progress::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-Пустой::-webkit-progress-value {
    background-color: #F25F5C;
}
.strength-Средний::-webkit-progress-value {
    background-color: #FFE066;
}
.strength-Хороший::-webkit-progress-value {
    background-color: #247BA0;
}
.strength-Сильный::-webkit-progress-value {
    background-color: #70C1B3;
}


