
header {
    margin: 10px 0;
}
.menu_logo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: baseline;
    width: 50%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
}
.menu_logo .nav-link {
    padding: 0 !important;
    vertical-align: middle;
}
.menu_logo .nav-link:nth-child(2) {
    background: #FF5559;
    border-radius: 10px;
    color: #fff;
    padding: 6px 15px !important;
    font-weight: 500;
    position: absolute;
    left: 150px !important;
    top: 4px !important;
}
.menu_logo .nav-link:nth-child(2) span {
    vertical-align: middle;
}
.menu_logo .nav-link:nth-child(2) .MuiSvgIcon-root {
    font-size: 25px;
}
.register_link {
    padding-top: 11px !important;
    padding-right: 0 !important;
    color: #778091;
    font-weight: 500;
}
.register_link:hover {
    color: #0078FF;
}
