@media( max-width: 800px){
    .menu_logo {
        width: 65%;
    }
}

@media( max-width: 650px){
    header {
        padding-bottom: 45px;
    }
    .menu_logo {
        width: 55%;
    }
    .menu_logo .logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu_logo .nav-link:nth-child(2) {
        left: 0 !important;
        top: 50px !important;
    }
    .menu_logo .add_advert {
        position: absolute;
        top: 45px;
        left: 0;
        margin-left: 0 !important;
        font-size: 14px;
        padding: 7px 10px !important;
    }
}
@media( max-width: 500px){
    .menu_logo {
        width: 60%;
    }
    .register_link {
        width: 30%;
        padding: 12px 0 0 0 !important;
    }
    .menu_logo .add_advert {
        padding: 5px 8px !important;
    }
}
