.search {
    background: #0078FF;
    padding: 10px 0;
    z-index: 100;
    position: sticky !important;
    top: 0;
}
.search_form form {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: relative;
}
.search_form form button {
    padding: 5px 30px;
    background: #C0C4CC;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
    margin-left: 20px;
}

.search_form form button:hover {
    background: #AFB3BB;
}
.input_form {
    width: 20% !important;
}
.button_search {
    width: 15%;
}
.form_control_search {
    width: 50% !important;
    border: none !important;
    border-radius: 10px !important;
    padding-left: 50px !important;
    background: url("../../assets/magnifierIcon.svg") 16px 8px no-repeat;

}
.form-control:focus {
    color: inherit !important;
     background-color: inherit !important;
     border-color: inherit !important;
     box-shadow: inherit !important;
}
.search_form form select {
    border: none !important;
    background: #fff;
    padding: 0 15px;
    margin: 8px 10px;
    color: #010101;
}
.search_form form select:before {
    content: "";
    width: 1px;
    height: 20px;
    background: black;
    display: inherit;
}
.button_search_mini {
    display: none;
}
.registerAuto {
    width: 50% !important;
    cursor: pointer;
}
