@media( max-width: 960px){
    .search_form form {
        flex-wrap: wrap;
    }
    .input_form {
        width: 23% !important;
    }

    .search_form form {
        border-radius: 10px !important;
    }
}
@media( max-width: 820px){
    .search {
        padding: 10px 0 !important;
    }
    .input_form {
        width: 46% !important;
    }
    .button_search {
        margin: 0  auto !important;
        width: 100%;
    }
}
@media( max-width: 550px){
    .no-found {
        width: 100%;
    }
    .search {
        border-radius: 0 0 5px 5px ;
    }
    .form_search {
        position: relative;
    }
    .form_control_search {
        background: none !important;
        padding-left: 12px !important;
    }
    .button_search {
        display: none;
    }
    .button_search_mini {
        display: block !important;
        position: absolute;
        top:  0;
        right: 0;
        border-radius: 10px !important;
        padding: 4px 7px !important;
        background: #fff !important;
        color: black !important;
    }
    .country_input {
       display: none;
    }
    .input_form {
        border-left: none !important;
        width: 100% !important;
    }
}
