.modal_window h5 {
    margin: 60px 0 20px 50px;
}
.modal_window  h5 span {
    color: red;
}
.modal_body {
    margin: 0 50px;
    font-weight: normal;
    font-size: 16px;
}
.modal_body h5 {
    margin: 0;
}
.check_form {
    margin-top: 10px;
}
.check_form label {
    margin-bottom: 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    border: 1px solid #202020;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #202020;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #0078FF;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0078FF;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.complaint {
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 20px 0 0;
    padding: 6px;
}
.delete_modal {
    width: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
}
