.MuiCardContent-root {
    padding: 5px;
}
.card_auto {
    margin: 12px 12px 24px;
}
.img {
    background-color: #C4C4C4;
    border-radius: 5px;
    height: 195px;
}
.img_pos {
    background-size: auto !important;
}
.img_div{
    width: 195px;
    height: 195px;
    background: #cfcfcf;
}
.text_color {
    color: #cfcfcf;
}
.card_auto p {
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
}
.card_auto .title_card {
    height: 45px;
    overflow: hidden;
    font-size: 16px;
    color: #010101;
    font-weight: normal;
}
.user {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}
.user span {
    position: absolute;
    bottom: 7px;
    right: 0;
}
.heading_card {
    font-size: 17px !important;
    height: 28px;
    overflow: hidden;
    margin: 2px 0 !important;
}
