.nav_add {
    margin-top: 50px;
    display: flex;
}
.nav_add .nav-link {
    font-weight: 500;
    font-size: 26px;
}
.nav_add .nav-link:first-child {
    padding-left: 0 !important;
}
.form_add_auto {
    margin-top: 50px;
    width: 735px;
}
.form_add_auto input, select, textarea  {
    width: 100%;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #C0C4CC;
    background: #FAFAFA;
    padding: 5px 5px 5px 10px;
}
.form_add_auto--inputs,
.form_add_advert--inputs{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}
.form_add_auto--inputs label,
.form_add_advert--inputs label{
    width: 300px;
    color: #778091;
}

.add_auto_btn {
    margin: 30px 0 30px 10px;
    border: none;
    background: #0078FF;
    border-radius: 15px;
    color: #fff;
    padding: 8px 30px;
    font-weight: 500;
    font-size: 20px;
}
.form_add_auto--input_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.label_text-img {
    display: flex;
}
.label_text-img p {
    width: 215px;
    color: #778091;

}
.imgs {
    width: 540px;
    margin-bottom: 40px;
}
.imgs img {
    float: left;
    margin: 5px;
}
.car_image {
    width: 201px;
    height: 201px;
    border-radius: 6px;
}
.image_car{
    border-radius: 6px;
    width: 96px;
    height: 96px;
}
.price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.registerAdvert_price {
    width: 100% !important;
}
.registerAdvert {
    width: 110px;
}
