@media( max-width: 900px){
    .footer {
        width: 100%;
        margin: 0 auto;
    }
    .img_store {
        width: 100px;
    }
    .footer .block,
    .footer .store {
        width: 100%;
    }
}
