footer {
    border-top: 1px solid #DCDFE6;
}
.footer {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .block,
.footer .store {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.store a img {
    width: 100px;
}
.footer .block {
    margin-top: 5px;
    align-items: inherit;
}
.footer .block p {
    color: #C0C4CC;
    font-size: 14px;
    margin-top: 23px;
    margin-left: 45px;
}
