@media( max-width: 650px){
    .modal_window {
        height: 570px;
        width: 350px;
        left: calc(50% - 175px);
        top: calc(50% - 285px) !important;
        padding: 0 !important;
    }
    .inputs,
    .selects{
        width: 79% !important;
    }
    .captcha {
        width: 100% !important;
    }
    .form_register {
        overflow-y: scroll;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }
}
@media (pointer:coarse){
    .body_modal {
        margin-top: 45px;
    }
}
