.modal_window {
    display: flex;
    position: fixed;
    z-index: 10000;
    width: 470px;
    padding: 16px;
    left: calc(50% - 235px);
    top: calc(50% - 277px);
    box-sizing: border-box;
    background: #F5F5F5;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.modal_false {
    top: calc(50% - 374px);
}
.cross {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
input[type=text], select, textarea {
    resize: vertical;
}
