
.heading_title {
    margin: 50px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    position: relative;
}
.filter_menu {
    width: 30%;
}
.range {
    width: 50%;
}
.cards {
    margin: 0 -18px 0 -12px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards .nav-link {
    display: inline-block !important;
}
.cards_load {
    display: flex;
    flex-wrap: wrap;
}
.MuiPaper-elevation1 {
     box-shadow: none !important;
}
.link_about_advert {
    width: 25%;
    padding: 0 !important;
    text-decoration: none;
}
.link_about_advert_list {
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.link_about_advert_list:hover {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.title_card_inline {
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis
}
.inline_card {
    display: flex;
    justify-content: space-between;
}
.inline_card img {
    width: 110px;
    height: 110px;
    margin-right: 20px;
}
.card_inline_text {
    width: 85%;
    margin: 0 auto;
}


.img_logo {
    object-fit: cover;
}

.pagination {
    margin: 15px auto ;
    display: flex ;
    justify-content: center ;
    list-style: none ;
    outline: none ;
}
.pagination > .active_pagination > a{
    background-color: #0078FF ;
    border-color: #0078FF ;
    color: #fff ;
}
.pagination > li > a{
    border: 1px solid #0078FF ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > li > a, .pagination > li > span{
    color: #0078FF;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}
.pagination > li > a, .pagination > li > span {
    color: #0670a5 !important;
    border: #0670a5 !important;
}
.pagination > .active_pagination > a, .pagination > .active_pagination > span, .pagination > .active_pagination > a:hover, .pagination > .active_pagination > span:hover, .pagination > .active_pagination > a:focus, .pagination > .active_pagination > span:focus {
    background: #0670a5 !important;
    color: #ffffff !important;
    outline: none !important;
}

.active_pagination {
    background-color: #0078FF !important;
}
.heading_center {
    text-align: center;
}
.no-found {
    width: 50%;
    margin: 20px auto 50px;
}
.no-found img {
    width: 100%;
}
