@media( max-width: 850px){
    .link_about_advert,
    .cards_load .card_auto{
        width: 50%;
    }
    .cards_load .card_auto .img_div {
        width: 100%;
    }
}
@media( max-width: 720px){
    .heading_title {
        margin-bottom: 60px !important;
    }
    .heading,
    .filter_menu{
        width: 50%;
        margin: 0 auto;
    }
    .button_toggle {
        position: absolute;
        right: 0;
        top: 60px;
    }
}

@media( max-width: 580px){
    .heading,
    .filter_menu{
        width: 100%;
        margin: 10px auto;
    }
    .button_toggle {
        top: 0;
    }
}
@media( max-width: 500px){
    .link_about_advert,
    .cards_load .card_auto{
        width: 100%;
    }
}
