.buttons_admin {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1000;
}
.advert_one {
    display: flex;
}
.filter_menu_admin {
    width: 50%;
    float: right;
    margin-bottom: 20px !important;
}
