body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #FAFAFA !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
   scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
 }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
select {
  padding-left: 6px !important;
}
@media (min-width: 1024px) {
  .MuiContainer-maxWidthLg {
    max-width: 1024px !important;
  }
}
