.button_user {
    padding: 0 !important;
    outline: 0 !important;
    position: relative !important;
}
.active_button {
    color: #0078FF !important;
}
.user_link {
    padding: 0 15px 0 8px;
    text-transform: capitalize;
}
.MuiPopover-paper {
    width: 175px !important;
    border-radius: 15px !important;
}
.fa-sort-down {
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 16px;
}
.user_menu-links {
    width: 100% !important;
    display: block !important;
    padding: 5px 10px !important;
    color: #000000;
    text-decoration: none !important;
}
.MuiList-padding {
    padding: 8px !important;
}
#simple-menu ul > li {
    padding: 0 !important;
}
